body{
    background-color: rgb(31, 28, 28);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    margin: auto;
    width: 500px;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 3px 3px 10px black;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}